.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.nav li {
    font-size:12pt;
    display:block;
    float: left;
    height:90px;
    width: 145px; /*new*/
    text-align: center; /*new*/
    transition: all 0.2s ease-in-out;
}
.nav .home {
    background: none;
}
.nav .about {
    background: none;
}
.nav .projects {
    background: none;
}
.nav .resume {
    background: none;
}

.nav li a {
    font-family: 'Muli', sans-serif;
    color:white;
    font-size:30px;
    text-decoration: none;
    display: block;
    padding:15px;
}

.nav li b {
    color:white;
    padding:0 10px;
}
.nav li i {
    padding: 15px 0;
    display: none;
}
.nav a:hover {
    color: #fff;
}
.nav a:hover b {
    display: none;
}
.nav a:hover i {
    display: block;
}