/*
nav{
	color:white;
	font-family:'Muli', sans-serif;
	font-weight: 400; 
	font-size: 20px;
	letter-spacing:.05em;
	float: right;
	padding-top: 10pt;
}

nav a{
	color:white;
	padding-left:10pt;
	text-decoration:none;	
}
*/
.nav ul {
    list-style: none;
	display:inline;
    margin: 0;
    padding-right: 125px;
	position: absolute;
    top: 0;
    right: 0;
}
.nav li {
    font-size:22px;
    float: center;
    height:30px;
    width: 145px; /*new*/
    text-align: center; /*new*/
    transition: all 0.2s ease-in-out;
}

.nav li a {
    font-family: 'Muli', sans-serif;
    color:white;
    font-size:15px;
    text-decoration: none;
    display: block;
    padding:10px;
}

.nav li b {
    color:white;
    padding:0 5px;
}
.nav li i {
    padding: 15px 0;
    display: none;
}
.nav a:hover {
    color: #A1A0A9;
}
.nav a:hover b {
    display: none;
}
.nav a:hover i {
    display: block;
}

nav a:hover{
	color:#A1A0A9;
}

body{
    overflow-x:hidden;
}

.wrapper {
	width: 100%; 
	margin: 0; 
	padding: 20px; 
	font-family:'Muli', sans-serif;
}

	
.container {
	background-color:rgba(0,0,0,0.5);
	border-radius: 5px;
	color: #fff;
	border: solid 3px #fff;
	padding:15px;
	width:400px;
	height:500px;
	margin:30px auto 0px auto;
/*	position:relative;*/
	overflow: none;
}


section a{
	font-size: 24px;
	color: white;

}
section p{
	color:white;
	font-size: 18px;
	
}

.right {
	margin-left: -160px; 
}

h1{
	clear:left;
	font-family:'Rock Salt', cursive;
	font-size:30px;
	color:#EBE8C9;
	border-bottom: 3px solid #d89427;
	padding-top: 10px;
}

h3{
	font-size: 33px;
	font-family: 'Rock Salt', cursive;
	font-weight: bold;
	color: white;
	float: right;
	left: 433px;
	padding-top:150px;
	padding-right:55px;
}

footer {
	color: white;
	font-family:'Muli', sans-serif;
	font-weight:400;
	letter-spacing: .03em;
	font-size: 18px;
	text-align:center;
	/* height:30pt; */
}
footer a{
	color: white;
	text-decoration:none;
}
footer a:hover{
	color:white;
}